<style type="text/css">
		
		a{font-size:20px;
			padding:5px;
			margin:3;
			color:#000066;
			float:right;
			position:fixed;
			text-indent:80%;
			width:100%;
			font-family:sans-serif;
			background:#E5E8F9;
			text-align:left;
			}
		h2{text-align:center;
			font-family:sans-serif;
			line-height:30%;
			color:#660066;
			font-weight:normal;
			font-size:50px;}
		p{width:73%;
			height:80%;
			text-align:center;	
			font-family:sans-serif;
			font-size:15px;
			margin-left:13%;
			padding:10px;
			color: #42426E;
			
			padding-bottom:5px;
			}
		h1 {font-size:25px;
			padding:5px;
			margin:3;
			color:#000000;
			float:right;
			position:fixed;
			text-indent:80%;
			width:100%;
			font-family:sans-serif;
			background:#E5E8F9;
			opacity:0.50;
			text-align:left;}

		h5 {color: #666633;
				font-family:cursive;
				background: #DBDB70;
			}
		h4 {font-family: sans-serif;
			text-align:center;
			font-size:30px;
			color: #8E236B;
			line-height:0%;
			width:30;
			}



		th {background: #93DB70;
			font-family: arial;
			

			}

		td {background: #DBDB70;
			font-family: arial;

			}



</style>
